.speech {
    font-family:'Courier New'
  }
  .song{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
  }
  .direction {
    background-color: lightsalmon;
  }
  .direction:hover{
    color: maroon;
    font-size: 15px;
    background-color: cyan;
  }
  .nameJAN {
    font-family:'Times New Roman', Times, serif
  }
  .nameGRO {
    font-family:'Times New Roman', Times, serif
  }
  .nameANG {
    font-family:'Times New Roman', Times, serif
  }
  .nameELL {
    font-family:'Times New Roman', Times, serif
  }
  .nameSAP {
    font-family:'Times New Roman', Times, serif
  }
  .nameMAI {
    font-family:'Times New Roman', Times, serif
  }
  #singers{
    margin-top: 20px;
    margin-left: 30px;
    border: 15px solid khaki;
    border-collapse: separate;
    box-sizing: border-box;
  }
  #singer th{
    color: tomato;
    text-align: center;
    padding: 35px;
    border: 15px solid indigo;
  }
  #singer td{
    color: lawngreen;
    text-align: center;
    padding: 35px;
    border: 15px solid fuchsia;
  }
  #singer tr:nth-child(even){
    background-color: crimson;
  }
