.speech {
    font-family:'Courier New'
  }
  .song{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
  }
  .direction {
    background-color: lightsalmon;
  }
  .direction:hover{
    color: maroon;
    font-size: 15px;
    background-color: cyan;
  }
  .nameJAN {
    font-family:'Times New Roman', Times, serif
  }
  .nameGRO {
    font-family:'Times New Roman', Times, serif
  }
  .nameANG {
    font-family:'Times New Roman', Times, serif
  }
  .nameELL {
    font-family:'Times New Roman', Times, serif
  }
  .nameSAP {
    font-family:'Times New Roman', Times, serif
  }
  .nameMAI {
    font-family:'Times New Roman', Times, serif
  }
  #singers {
    margin-top: 10px;
    margin-left: 20px;
    border: 5px solid khaki;
    border-collapse: separate;
    box-sizing: border-box;
  }
  #singers th{
    color: tomato;
    text-align: center;
    padding: 25px;
    border: 5px solid indigo;
  }
  #singers td {
    color: lawngreen;
    text-align: center;
    padding: 25px;
    border: 5px solid fuchsia;
  }
  #singers tr:nth-child(even) {
    background-color: crimson;
  }
