.speech {
    font-family:'Courier New'
  }
  .song{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
  }
  .direction {
    background-color: lightsalmon;
  }
  .direction:hover{
    color: maroon;
    font-size: 15px;
    background-color: cyan;
  }
  .nameJAN {
    font-family:'Times New Roman', Times, serif
  }
  .nameGRO {
    font-family:'Times New Roman', Times, serif
  }
  .nameANG {
    font-family:'Times New Roman', Times, serif
  }
  .nameELL {
    font-family:'Times New Roman', Times, serif
  }
  .nameSAP {
    font-family:'Times New Roman', Times, serif
  }
  .nameMAI {
    font-family:'Times New Roman', Times, serif
  }